node_modules/
audio-engine/build/
audio-engine/build*/
audio-engine/build-sanitize/
*.log
.DS_Store
.vscode/PythonImportHelper-v2-Completion.json
deps/
dist/
coverage/
lib/
.expo/
android/.gradle/
android/app/build/
ios/Pods/
ios/build/
.env
.env.*
!.env.example
